/* line 17, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 67, ../sass/admin.scss */
input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 74, ../sass/admin.scss */
html,
body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #e7ebee;
  color: #333333;
  height: 100%;
}

/* line 83, ../sass/admin.scss */
#wrapper {
  min-height: 100%;
  position: relative;
}

/* line 90, ../sass/admin.scss */
p,
form,
fieldset,
h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* line 95, ../sass/admin.scss */
a {
  text-decoration: none;
  font-weight: bold;
  color: #333333;
}

/* line 100, ../sass/admin.scss */
.clearer {
  clear: both;
}

/* line 104, ../sass/admin.scss */
input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 111, ../sass/admin.scss */
.headerWrapper {
  background: #108696;
  color: white;
  padding: 10px 0px;
  z-index: 999;
}
/* line 116, ../sass/admin.scss */
.headerWrapper a {
  color: white;
}
/* line 119, ../sass/admin.scss */
.headerWrapper .headerIns {
  max-width: 1200px;
  margin: auto;
}
/* line 123, ../sass/admin.scss */
.headerWrapper .headerLeft {
  width: 30%;
  padding-top: 8px;
  float: left;
}
/* line 127, ../sass/admin.scss */
.headerWrapper .headerLeft .logo {
  width: 125px;
}
/* line 129, ../sass/admin.scss */
.headerWrapper .headerLeft .logo a {
  display: block;
  width: 125px;
  height: 30px;
  background-image: url(../../img/logo.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  text-indent: -5000px;
  text-align: left;
  overflow: hidden;
}
/* line 141, ../sass/admin.scss */
.headerWrapper .headerRight {
  width: 70%;
  float: left;
  text-align: right;
  font-size: 0.8em;
}
/* line 147, ../sass/admin.scss */
.headerWrapper .langs {
  padding-bottom: 5px;
}
/* line 150, ../sass/admin.scss */
.headerWrapper .lang {
  float: right;
  margin-left: 10px;
}
/* line 153, ../sass/admin.scss */
.headerWrapper .lang a, .headerWrapper .lang span {
  padding: 3px 5px;
  font-weight: bold;
  font-size: 0.9em;
  display: block;
  text-transform: uppercase;
}
/* line 160, ../sass/admin.scss */
.headerWrapper .lang a {
  background: #27a1b2;
  border: 1px solid #27a1b2;
}
/* line 163, ../sass/admin.scss */
.headerWrapper .lang a:hover {
  border: 1px solid white;
}
/* line 167, ../sass/admin.scss */
.headerWrapper .lang span {
  background: #7dc242;
  border: 1px solid #7dc242;
}
/* line 172, ../sass/admin.scss */
.headerWrapper .infoUser {
  font-size: 0.95em;
}
/* line 174, ../sass/admin.scss */
.headerWrapper .infoUser a:hover {
  color: #c9fffc;
}

/* line 181, ../sass/admin.scss */
.footer {
  text-align: center;
  padding: 15px;
  padding-top: 80px;
  font-size: 0.8em;
}

/* line 189, ../sass/admin.scss */
.contentWrapper {
  position: relative;
}
/* line 191, ../sass/admin.scss */
.contentWrapper h1 {
  font-size: 1.6em;
  font-weight: normal;
  color: #002f5b;
  padding-bottom: 1em;
}
/* line 197, ../sass/admin.scss */
.contentWrapper h2 {
  font-size: 1.3em;
  font-weight: normal;
  color: #005f90;
  padding-bottom: 10px;
}

/* line 204, ../sass/admin.scss */
.contentSimple {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 15px;
  border: 1px solid #efefef;
  background: white;
  padding: 15px;
  moz-box-shadow: 0px 0px 10px #DDD;
  -webkit-box-shadow: 0px 0px 10px #DDD;
  box-shadow: 0px 0px 10px #DDD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 214, ../sass/admin.scss */
.contentSimple p, .contentSimple a {
  color: #666666;
  text-align: center;
  font-size: 0.9em;
  padding: 5px 0px;
}
/* line 221, ../sass/admin.scss */
.contentSimple .formAdmin h2 {
  padding-top: 1em;
  margin-top: 1em;
  border-top: 1px solid #e7ebee;
}
/* line 228, ../sass/admin.scss */
.contentSimple .formAdmin .formField input,
.contentSimple .formAdmin .formField textarea,
.contentSimple .formAdmin .formField select {
  width: 100%;
}
/* line 231, ../sass/admin.scss */
.contentSimple .formAdmin .formField .checkboxIns input {
  float: left;
  margin-right: 15px;
  width: auto;
}
/* line 236, ../sass/admin.scss */
.contentSimple .formAdmin input.formSubmit {
  margin: auto;
  margin-top: 1em;
}

/* line 242, ../sass/admin.scss */
.contentSimpleInstall {
  margin: 50px auto;
}

/* line 245, ../sass/admin.scss */
.contentIns {
  width: 1200px;
  margin: auto;
  position: relative;
}
/* line 249, ../sass/admin.scss */
.contentIns .contentTop {
  padding-bottom: 10px;
}
/* line 252, ../sass/admin.scss */
.contentIns .contentTopLeft {
  width: 40%;
  float: left;
}
/* line 256, ../sass/admin.scss */
.contentIns .contentTopRight {
  width: 60%;
  float: left;
}
/* line 260, ../sass/admin.scss */
.contentIns .contentMenu {
  width: 15%;
  float: left;
  color: white;
  margin-top: 20px;
  font-size: 0.85em;
  padding-bottom: 40px;
}
/* line 268, ../sass/admin.scss */
.contentIns .contentMenu .menuSideItem a {
  font-weight: normal;
  display: block;
  padding: 5px;
  color: white;
  background: #27a1b2;
  border-bottom: 1px solid #f7f7f7;
}
/* line 275, ../sass/admin.scss */
.contentIns .contentMenu .menuSideItem a:hover {
  background: #999999;
  color: white;
}
/* line 280, ../sass/admin.scss */
.contentIns .contentMenu .menuSideItem span {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 3px 0;
  margin-top: 10px;
  border-top: 1px solid #bbbbbb;
  color: #666666;
  display: block;
}
/* line 291, ../sass/admin.scss */
.contentIns .contentMenu .menuSideItem-1 a {
  background: #108696;
  color: white;
}
/* line 295, ../sass/admin.scss */
.contentIns .contentMenu .menuSideItem-2 a {
  background: #2cb6c9;
  color: white;
}
/* line 299, ../sass/admin.scss */
.contentIns .contentMenu .menuSideItem-3 a {
  background: #7dc242;
  color: white;
}
/* line 303, ../sass/admin.scss */
.contentIns .contentMenu .btnModeExit a {
  color: #ff3030;
}
/* line 306, ../sass/admin.scss */
.contentIns .contentMenu .btnModeExtra a {
  color: #108696;
}
/* line 310, ../sass/admin.scss */
.contentIns .contentInsWrapper {
  width: 85%;
  float: right;
  background: #e7ebee;
}
/* line 315, ../sass/admin.scss */
.contentIns .content {
  padding: 20px;
  margin: 20px;
  margin-right: 0px;
  background: white;
  moz-box-shadow: 0px 0px 10px #DDD;
  -webkit-box-shadow: 0px 0px 10px #DDD;
  box-shadow: 0px 0px 10px #DDD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
/* line 323, ../sass/admin.scss */
.contentIns .listAdmin {
  padding-bottom: 10px;
}
/* line 326, ../sass/admin.scss */
.contentIns .sublistAdmin {
  padding-bottom: 20px;
}
/* line 329, ../sass/admin.scss */
.contentIns .sublistAdmin .listAdmin {
  margin-left: 60px;
  padding: 0px;
  border: 0px;
  margin-top: 0px;
}
/* line 336, ../sass/admin.scss */
.contentIns .formAdminInsert,
.contentIns .formAdminModify {
  margin-bottom: 10px;
  background: #e7ebee;
  border: 1px solid #bbbbbb;
  padding: 10px;
  position: relative;
}
/* line 343, ../sass/admin.scss */
.contentIns .lineAdmin {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #e7ebee;
  background: #f7f7f7;
  font-size: 0.9em;
}
/* line 349, ../sass/admin.scss */
.contentIns .lineAdmin .lineAdminOptions {
  float: right;
}
/* line 352, ../sass/admin.scss */
.contentIns .lineAdmin a {
  color: #108696;
}
/* line 354, ../sass/admin.scss */
.contentIns .lineAdmin a:hover {
  color: #27a1b2;
}
/* line 358, ../sass/admin.scss */
.contentIns .lineAdmin .checkboxAdmin {
  float: left;
  padding: 0px 5px;
  margin-right: 15px;
}
/* line 364, ../sass/admin.scss */
.contentIns .lineAdminLabel {
  float: left;
  width: 500px;
}

/* line 370, ../sass/admin.scss */
.menuSimple .menuSimpleItem {
  width: 120px;
  float: right;
  margin-left: 10px;
}
/* line 374, ../sass/admin.scss */
.menuSimple .menuSimpleItem a {
  display: block;
  background: #efefef;
  border: 1px solid #999999;
  text-align: center;
  padding: 5px;
  font-size: 0.8em;
}
/* line 381, ../sass/admin.scss */
.menuSimple .menuSimpleItem a span {
  display: block;
  width: 32px;
  height: 32px;
  margin: auto;
  background-image: url(../../img/icons32.png);
  background-repeat: no-repeat;
  margin-bottom: 5px;
}
/* line 390, ../sass/admin.scss */
.menuSimple .menuSimpleItem a:hover {
  border: 1px solid #333333;
}
/* line 395, ../sass/admin.scss */
.menuSimple .menuSimpleItemInsert span {
  background-position: -128px 0px;
}
/* line 398, ../sass/admin.scss */
.menuSimple .menuSimpleItemCancel span {
  background-position: -192px 0px;
}
/* line 401, ../sass/admin.scss */
.menuSimple .menuSimpleItemList span {
  background-position: -224px 0px;
}
/* line 404, ../sass/admin.scss */
.menuSimple .menuSimpleItemExport span {
  background-position: -96px 0px;
}

/* line 408, ../sass/admin.scss */
.formAdmin {
  font-size: 0.9em;
}
/* line 410, ../sass/admin.scss */
.formAdmin fieldset {
  position: relative;
}
/* line 413, ../sass/admin.scss */
.formAdmin label {
  display: block;
  color: #108696;
  font-weight: bold;
  padding-bottom: 3px;
  font-size: 0.9em;
}
/* line 419, ../sass/admin.scss */
.formAdmin label span {
  font-size: 0.8em;
  font-style: italic;
  color: #666666;
  font-weight: normal;
}
/* line 426, ../sass/admin.scss */
.formAdmin .formField {
  padding-bottom: 10px;
}
/* line 431, ../sass/admin.scss */
.formAdmin .formField input,
.formAdmin .formField textarea,
.formAdmin .formField select {
  background: white;
  color: #333333;
  border: 1px solid #999999;
  padding: 3px;
  font-size: 0.9em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
/* line 438, ../sass/admin.scss */
.formAdmin .formField input:focus,
.formAdmin .formField textarea:focus,
.formAdmin .formField select:focus {
  border: 1px solid #002f5b;
}
/* line 441, ../sass/admin.scss */
.formAdmin .formField input:disabled,
.formAdmin .formField textarea:disabled,
.formAdmin .formField select:disabled {
  background: #efefef;
  border: 1px solid #e7ebee;
  color: #666666;
}
/* line 447, ../sass/admin.scss */
.formAdmin .formField select {
  width: 100%;
  max-width: 80%;
}
/* line 451, ../sass/admin.scss */
.formAdmin .formField .checkboxIns input {
  float: left;
  margin-right: 15px;
  width: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
/* line 457, ../sass/admin.scss */
.formAdmin .formFieldsImage img {
  padding: 3px;
  background: white;
  border: 1px solid #f7f7f7;
  margin-bottom: 3px;
}
/* line 463, ../sass/admin.scss */
.formAdmin .formFieldsFile {
  padding-top: 3px;
  font-size: 0.8em;
}
/* line 466, ../sass/admin.scss */
.formAdmin .formFieldsFile a {
  color: #666666;
  text-decoration: underline;
}
/* line 469, ../sass/admin.scss */
.formAdmin .formFieldsFile a:hover {
  color: #999999;
}
/* line 474, ../sass/admin.scss */
.formAdmin .multipleCheckboxes {
  padding-bottom: 10px;
}
/* line 476, ../sass/admin.scss */
.formAdmin .multipleCheckboxes label {
  padding-bottom: 10px;
}
/* line 479, ../sass/admin.scss */
.formAdmin .multipleCheckboxes .checkboxIns label {
  font-weight: normal;
  color: #666666;
  padding-bottom: 2px;
}
/* line 484, ../sass/admin.scss */
.formAdmin .multipleCheckboxes .formField {
  padding: 0px;
}
/* line 489, ../sass/admin.scss */
.formAdmin .selectCheckbox select,
.formAdmin .selectCheckbox .checkbox {
  float: left;
}
/* line 493, ../sass/admin.scss */
.formAdmin .selectDate select {
  margin-right: 10px;
}
/* line 497, ../sass/admin.scss */
.formAdmin input.formSubmit {
  border: 0px;
  display: block;
  width: 200px;
  padding: 7px 10px;
  text-align: center;
  color: white;
  background: #108696;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 510, ../sass/admin.scss */
.formAdmin input.formSubmit:hover {
  background: #27a1b2;
}
/* line 514, ../sass/admin.scss */
.formAdmin .submitButtons input.formSubmit {
  float: left;
  margin-right: 15px;
}
/* line 518, ../sass/admin.scss */
.formAdmin .btnExtraAction a {
  border: 0px;
  display: block;
  width: 300px;
  padding: 5px 10px;
  text-align: center;
  color: white;
  background: #7dc242;
  margin-top: 10px;
  cursor: pointer;
  font-weight: normal;
  font-size: 0.9em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 531, ../sass/admin.scss */
.formAdmin .btnExtraAction a:hover {
  background: #27a1b2;
}
/* line 535, ../sass/admin.scss */
.formAdmin .btnExtraActionInfo {
  padding: 10px 0px;
  color: #666666;
  font-size: 0.9em;
  font-style: italic;
}
/* line 540, ../sass/admin.scss */
.formAdmin .btnExtraActionInfo strong {
  font-weight: bold;
}
/* line 544, ../sass/admin.scss */
.formAdmin .error {
  color: #ff3030;
}
/* line 549, ../sass/admin.scss */
.formAdmin .errorField input,
.formAdmin .errorField textarea,
.formAdmin .errorField select {
  border: 1px solid #ff3030;
}
/* line 552, ../sass/admin.scss */
.formAdmin p {
  padding-bottom: 5px;
}

/* line 557, ../sass/admin.scss */
.simpleForm p {
  font-size: 0.9em;
  padding-bottom: 10px;
}
/* line 561, ../sass/admin.scss */
.simpleForm a {
  color: #7dc242;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
/* line 564, ../sass/admin.scss */
.simpleForm a:hover {
  color: #5c972a;
}

/* line 570, ../sass/admin.scss */
.formAdminSearch {
  padding-bottom: 10px;
  width: 400px;
}
/* line 573, ../sass/admin.scss */
.formAdminSearch .formField {
  float: left;
  width: 70%;
}
/* line 576, ../sass/admin.scss */
.formAdminSearch .formField input {
  width: 100%;
  padding: 2px 5px;
  border: 1px solid #bbbbbb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
/* line 583, ../sass/admin.scss */
.formAdminSearch .formSubmitWrapper {
  width: 27%;
  float: right;
}
/* line 586, ../sass/admin.scss */
.formAdminSearch .formSubmitWrapper input {
  width: 100%;
  display: block;
  background: #7dc242;
  color: white;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  padding: 2px;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}
/* line 597, ../sass/admin.scss */
.formAdminSearch .formSubmitWrapper input:hover {
  background: #108696;
}

/* line 605, ../sass/admin.scss */
.nestedFormFields {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 1px solid #999999;
}
/* line 611, ../sass/admin.scss */
.nestedFormFields .nestedFormFieldsEmpty,
.nestedFormFields .nestedFormFieldsObject {
  padding: 10px;
  background: #efefef;
  margin: 10px 0px;
  moz-box-shadow: 0px 0px 5px #CCC;
  -webkit-box-shadow: 0px 0px 5px #CCC;
  box-shadow: 0px 0px 5px #CCC;
}
/* line 617, ../sass/admin.scss */
.nestedFormFields .nestedFormFieldsAdd {
  border: 0px;
  display: block;
  width: 240px;
  padding: 5px 7px;
  text-align: center;
  color: white;
  background: #7dc242;
  margin-top: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 630, ../sass/admin.scss */
.nestedFormFields .nestedFormFieldsAdd:hover {
  background: #5c972a;
}
/* line 635, ../sass/admin.scss */
.nestedFormFields .nestedFormFieldsDelete,
.nestedFormFields .nestedFormFieldsOrder {
  float: right;
  width: 16px;
  height: 16px;
  background-image: url(../../img/icons16.png);
  background-position: -96px 0px;
  cursor: pointer;
}
/* line 642, ../sass/admin.scss */
.nestedFormFields .nestedFormFieldsDelete:hover,
.nestedFormFields .nestedFormFieldsOrder:hover {
  opacity: 0.5;
}
/* line 646, ../sass/admin.scss */
.nestedFormFields .nestedFormFieldsOrder {
  background-position: 0px 0px;
  margin-right: 10px;
}
/* line 650, ../sass/admin.scss */
.nestedFormFields .nestedFormFieldsEmpty {
  display: none;
}

/* line 655, ../sass/admin.scss */
.multipleActions {
  margin-bottom: 10px;
  background: #e7ebee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 659, ../sass/admin.scss */
.multipleActions .multipleAction {
  padding: 5px 10px;
  float: left;
  border-right: 1px solid #bbbbbb;
  color: #002f5b;
  font-size: 0.7em;
  cursor: pointer;
}
/* line 666, ../sass/admin.scss */
.multipleActions .multipleAction:hover {
  color: white;
  background: #005f90;
  border-right: 1px solid #005f90;
}
/* line 671, ../sass/admin.scss */
.multipleActions .multipleAction.multipleActionCheckAll {
  padding-bottom: 0px;
}
/* line 673, ../sass/admin.scss */
.multipleActions .multipleAction.multipleActionCheckAll:hover {
  background: #e7ebee;
  border-right: 1px solid #bbbbbb;
}
/* line 680, ../sass/admin.scss */
.multipleActions .multipleActionSelectAll,
.multipleActions .multipleActionDeselectAll {
  color: #666666;
  font-weight: bold;
}

/* line 686, ../sass/admin.scss */
.pagerAll {
  padding-bottom: 10px;
  font-size: 0.9em;
}
/* line 690, ../sass/admin.scss */
.pagerAll .pagerActive,
.pagerAll .pager {
  float: left;
  margin-right: 5px;
  font-size: 0.9em;
}
/* line 694, ../sass/admin.scss */
.pagerAll .pagerActive a,
.pagerAll .pager a {
  padding: 2px 10px;
  background: #efefef;
  font-weight: bold;
}
/* line 698, ../sass/admin.scss */
.pagerAll .pagerActive a:hover,
.pagerAll .pager a:hover {
  background: #bbbbbb;
  color: white;
}
/* line 704, ../sass/admin.scss */
.pagerAll .pagerActive a {
  background: #27a1b2;
  color: white;
}

/* line 711, ../sass/admin.scss */
.message {
  font-size: 0.9em;
  line-height: 1.2em;
  padding: 15px;
  margin: 15px 0px;
  text-align: center;
  color: white;
  background: #38b0a6;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* line 722, ../sass/admin.scss */
.messageError {
  background: #ff3030;
}

/* line 728, ../sass/admin.scss */
.map .mapIns {
  width: 400px;
  height: 250px;
}

/* line 735, ../sass/admin.scss */
.label {
  font-size: 0.95em;
  line-height: 1.2em;
}
/* line 738, ../sass/admin.scss */
.label .labelInsideWrapper {
  float: left;
  margin-right: 15px;
}
/* line 742, ../sass/admin.scss */
.label .labelstyle_small {
  font-size: 0.9em;
  color: #333333;
}
/* line 746, ../sass/admin.scss */
.label .labelstyle_active {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
}
/* line 750, ../sass/admin.scss */
.label .labelstyle_active .activeItem {
  display: block;
  width: 10px;
  height: 10px;
  overflow: hidden;
  text-indent: -5000px;
}
/* line 758, ../sass/admin.scss */
.label .labelstyle_long {
  float: left;
  width: 85%;
  margin-right: 5px;
}
/* line 763, ../sass/admin.scss */
.label .labelstyle_big {
  float: left;
  width: 65%;
  margin-right: 5px;
}
/* line 768, ../sass/admin.scss */
.label .labelstyle_regular {
  float: left;
  width: 40%;
  margin-right: 5px;
}
/* line 773, ../sass/admin.scss */
.label .labelstyle_regularSmall {
  float: left;
  width: 60%;
  margin-right: 5px;
  font-size: 0.9em;
  color: #999999;
  font-style: italic;
}
/* line 781, ../sass/admin.scss */
.label .labelstyle_medium {
  float: left;
  width: 35%;
  font-size: 0.95em;
  margin-right: 5px;
}
/* line 787, ../sass/admin.scss */
.label .labelstyle_small {
  font-size: 0.9em;
  color: #999999;
  font-style: italic;
}
/* line 792, ../sass/admin.scss */
.label .labelstyle_image {
  float: left;
  width: 20%;
  margin-right: 10px;
}
/* line 796, ../sass/admin.scss */
.label .labelstyle_image img {
  width: 100%;
}
/* line 800, ../sass/admin.scss */
.label .activeItem_0 {
  background: #818181;
}
/* line 803, ../sass/admin.scss */
.label .activeItem_1 {
  background: #29c74d;
}
/* line 806, ../sass/admin.scss */
.label .labelTypeAdminSmall {
  display: inline-block;
  padding: 1px 5px;
  background: #27a1b2;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
}

/* line 817, ../sass/admin.scss */
.iconSide {
  margin-left: 15px;
  float: left;
  cursor: pointer;
  background-image: url(../../img/icons16.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 16px;
  height: 16px;
  overflow: hidden;
  text-indent: -500px;
}
/* line 828, ../sass/admin.scss */
.iconSide a {
  display: block;
  width: 16px;
  height: 16px;
}
/* line 833, ../sass/admin.scss */
.iconSide:hover {
  opacity: 0.5;
}

/* line 837, ../sass/admin.scss */
.iconModify {
  background-position: -32px 0px;
}

/* line 838, ../sass/admin.scss */
.iconDelete {
  background-position: -96px 0px;
}

/* line 839, ../sass/admin.scss */
.iconHandle {
  background-position: 0px 0px;
}

/* line 840, ../sass/admin.scss */
.iconView {
  background-position: -48px 0px;
}

/* line 843, ../sass/admin.scss */
.ui-autocomplete {
  padding: 0px;
  margin: 0px;
  border: 1px solid #333333;
  background: white;
  color: #333333;
  width: 200px;
  font-size: 0.85em;
}
/* line 851, ../sass/admin.scss */
.ui-autocomplete a {
  display: block;
  color: #333;
  padding: 5px;
  font-weight: normal;
}
/* line 857, ../sass/admin.scss */
.ui-autocomplete li {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

/* line 864, ../sass/admin.scss */
.ui-autocomplete a.ui-state-hover,
.ui-autocomplete a.ui-state-focus {
  background: #e7ebee;
  text-decoration: none;
}

/* line 868, ../sass/admin.scss */
.ui-helper-hidden-accessible {
  display: none;
}

/* line 873, ../sass/admin.scss */
.ui-datepicker {
  background: #FFF;
  padding: 3px;
  border: 1px solid #CCC;
  color: #333;
  font-size: 0.8em;
  z-index: 999999 !important;
}
/* line 880, ../sass/admin.scss */
.ui-datepicker a {
  display: block;
  color: #666;
  padding: 1px 3px;
  background: #EFEFEF;
  text-align: center;
}
/* line 887, ../sass/admin.scss */
.ui-datepicker .ui-datepicker-unselectable span {
  display: block;
  color: #CCC;
  padding: 1px 3px;
  background: #FFF;
  text-align: center;
}
/* line 894, ../sass/admin.scss */
.ui-datepicker .ui-datepicker-week-end a {
  background: #E0E0E0;
}
/* line 897, ../sass/admin.scss */
.ui-datepicker a:hover {
  background: #E52D2C;
  color: #FFF;
}
/* line 901, ../sass/admin.scss */
.ui-datepicker th {
  text-align: center;
  color: #888;
  font-size: 12px;
}
/* line 906, ../sass/admin.scss */
.ui-datepicker th.ui-datepicker-week-end {
  background: #FFF;
}
/* line 909, ../sass/admin.scss */
.ui-datepicker td {
  border: 1px solid #FFF;
}
/* line 912, ../sass/admin.scss */
.ui-datepicker .ui-state-highlight {
  color: #E52D2C;
}
/* line 915, ../sass/admin.scss */
.ui-datepicker .ui-datepicker-title {
  text-align: center;
  font-weight: bold;
  color: #777;
  clear: both;
}
/* line 921, ../sass/admin.scss */
.ui-datepicker .ui-datepicker-header {
  height: 20px;
  position: relative;
}
/* line 927, ../sass/admin.scss */
.ui-datepicker a.ui-datepicker-prev,
.ui-datepicker a.ui-datepicker-next,
.ui-datepicker a.ui-datepicker-prev:hover {
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(../../img/arrowLeft.png) no-repeat center center;
  width: 15px;
  height: 15px;
  text-align: left;
  text-indent: -5000px;
  overflow: hidden;
  float: left;
  cursor: pointer;
}
/* line 941, ../sass/admin.scss */
.ui-datepicker a.ui-datepicker-next,
.ui-datepicker a.ui-datepicker-next:hover {
  left: auto;
  right: 0px;
  background: url(../../img/arrowRight.png) no-repeat center center;
  float: right;
}

/* line 948, ../sass/admin.scss */
.imagesChoice {
  padding: 10px 0px;
}
/* line 950, ../sass/admin.scss */
.imagesChoice .imagesChoiceTitle {
  color: #108696;
  font-size: 0.9em;
  font-weight: bold;
  padding-bottom: 5px;
}
/* line 956, ../sass/admin.scss */
.imagesChoice img {
  height: 50px;
  padding: 2px;
  background: white;
  border: 1px solid #bbbbbb;
  margin-right: 5px;
  cursor: pointer;
}
/* line 963, ../sass/admin.scss */
.imagesChoice img:hover {
  background: #7dc242;
  border: 1px solid #7dc242;
}

/* line 970, ../sass/admin.scss */
.fieldsBlock {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #bbbbbb;
}
/* line 974, ../sass/admin.scss */
.fieldsBlock.fieldsBlockLast {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
}

/* line 980, ../sass/admin.scss */
.labelChrono {
  float: left;
  width: 30%;
  padding-right: 2%;
}
/* line 984, ../sass/admin.scss */
.labelChrono .labelChronoDescription {
  font-size: 0.8em;
  color: #999999;
  font-style: italic;
}

/* line 993, ../sass/admin.scss */
.listAnnotations .listAnnotationsItem {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #bbbbbb;
}
/* line 997, ../sass/admin.scss */
.listAnnotations .listAnnotationsItem:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
/* line 1003, ../sass/admin.scss */
.listAnnotations .listAnnotationsTitle {
  color: #108696;
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 10px;
}
/* line 1009, ../sass/admin.scss */
.listAnnotations .listAnnotationsItems {
  padding-left: 30px;
}
/* line 1012, ../sass/admin.scss */
.listAnnotations .responsesAdmin {
  font-size: 0.8em;
  color: #999999;
  padding: 5px;
  border-bottom: 1px solid #efefef;
  background: #fcfcfc;
}
/* line 1018, ../sass/admin.scss */
.listAnnotations .responsesAdmin .responsesAdminLeft {
  width: 50%;
  float: left;
  padding-left: 25%;
}
/* line 1023, ../sass/admin.scss */
.listAnnotations .responsesAdmin .responsesAdminRight {
  width: 25%;
  float: right;
  text-align: right;
}
/* line 1027, ../sass/admin.scss */
.listAnnotations .responsesAdmin .responsesAdminRight .responsesAdminOption {
  display: inline-block;
  margin: 0px 3px 3px 0px;
  font-size: 0.8em;
  font-weight: bold;
  padding: 3px 5px;
  background: #fd3535;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
/* line 1037, ../sass/admin.scss */
.listAnnotations .responsesAdmin .responsesAdminRight .responsesAdminOption:hover {
  opacity: 0.6;
}
/* line 1043, ../sass/admin.scss */
.listAnnotations .annotationAdmin {
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid #e7ebee;
}
/* line 1047, ../sass/admin.scss */
.listAnnotations .annotationAdmin:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
/* line 1052, ../sass/admin.scss */
.listAnnotations .annotationAdmin.annotationAdminHidden {
  color: #bbbbbb;
}
/* line 1056, ../sass/admin.scss */
.listAnnotations .annotationAdminIns {
  display: table;
  table-layout: fixed;
  font-size: 0.8em;
}
/* line 1060, ../sass/admin.scss */
.listAnnotations .annotationAdminIns strong {
  font-weight: bold;
}
/* line 1063, ../sass/admin.scss */
.listAnnotations .annotationAdminIns .annotationAdminItem {
  display: table-cell;
  padding: 3px;
}
/* line 1067, ../sass/admin.scss */
.listAnnotations .annotationAdminIns .annotationAdminItem1 {
  width: 15%;
  font-size: 0.9em;
  opacity: 0.6;
}
/* line 1072, ../sass/admin.scss */
.listAnnotations .annotationAdminIns .annotationAdminItem3 {
  width: 25%;
}
/* line 1076, ../sass/admin.scss */
.listAnnotations .annotationAdminOptions {
  text-align: right;
}
/* line 1078, ../sass/admin.scss */
.listAnnotations .annotationAdminOptions .annotationAdminOption {
  display: inline-block;
  margin: 0px 3px 3px 0px;
  font-size: 0.8em;
  font-weight: bold;
  padding: 3px 5px;
  background: #999999;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
/* line 1088, ../sass/admin.scss */
.listAnnotations .annotationAdminOptions .annotationAdminOption:hover {
  opacity: 0.6;
}
/* line 1092, ../sass/admin.scss */
.listAnnotations .annotationAdminOptions .annotationAdminOptionDelete {
  background: #fd3535;
}
/* line 1095, ../sass/admin.scss */
.listAnnotations .annotationAdminOptions .annotationAdminOptionPublic {
  background: #15ba45;
}

/* line 1101, ../sass/admin.scss */
.backButton {
  padding-bottom: 10px;
}
/* line 1103, ../sass/admin.scss */
.backButton a {
  font-size: 0.7em;
  display: inline-block;
  padding: 5px 10px;
  background: #108696;
  color: white;
}
/* line 1109, ../sass/admin.scss */
.backButton a:hover {
  background: #005f90;
}

/* line 1120, ../sass/admin.scss */
.formWrapper .formLine.formLine4 > .formField, .formWrapper .formLine.formLine3 > .formField, .formWrapper .formLine.formLine2 > .formField {
  width: 23%;
  margin-right: 2%;
  float: left;
}
/* line 1126, ../sass/admin.scss */
.formWrapper .formLine.formLine4 > .formField input,
.formWrapper .formLine.formLine4 > .formField select,
.formWrapper .formLine.formLine4 > .formField textarea, .formWrapper .formLine.formLine3 > .formField input,
.formWrapper .formLine.formLine3 > .formField select,
.formWrapper .formLine.formLine3 > .formField textarea, .formWrapper .formLine.formLine2 > .formField input,
.formWrapper .formLine.formLine2 > .formField select,
.formWrapper .formLine.formLine2 > .formField textarea {
  width: 100%;
}
/* line 1131, ../sass/admin.scss */
.formWrapper .formLine.formLine4 > .formField .checkBoxInline input,
.formWrapper .formLine.formLine4 > .formField .checkBoxInline select, .formWrapper .formLine.formLine3 > .formField .checkBoxInline input,
.formWrapper .formLine.formLine3 > .formField .checkBoxInline select, .formWrapper .formLine.formLine2 > .formField .checkBoxInline input,
.formWrapper .formLine.formLine2 > .formField .checkBoxInline select {
  width: auto;
}
/* line 1138, ../sass/admin.scss */
.formWrapper .formLine.formLine3 > .formField {
  width: 31%;
}
/* line 1143, ../sass/admin.scss */
.formWrapper .formLine.formLine2 > .formField {
  width: 48%;
}
/* line 1147, ../sass/admin.scss */
.formWrapper .formLine.formLineMultiple {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #bbbbbb;
}
/* line 1151, ../sass/admin.scss */
.formWrapper .formLine.formLineMultiple .formField {
  float: left;
  width: 23%;
  margin-right: 2%;
  float: left;
}
/* line 1156, ../sass/admin.scss */
.formWrapper .formLine.formLineMultiple .formField label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 1164, ../sass/admin.scss */
.formWrapper .formLine.formLineHidden .multipleCheckboxesIns {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.25);
  padding: 10px;
  border: 1px solid #bbbbbb;
}
/* line 1173, ../sass/admin.scss */
.formWrapper .formLine.formLineSimple {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #bbbbbb;
}
/* line 1178, ../sass/admin.scss */
.formWrapper .formLine.formLinePrice {
  padding: 20px 0;
  margin: 20px 0;
  border-bottom: 1px solid #bbbbbb;
}
/* line 1182, ../sass/admin.scss */
.formWrapper .formLine.formLinePrice strong {
  font-size: 1.1em;
  display: block;
  font-weight: bold;
}
/* line 1189, ../sass/admin.scss */
.formWrapper .formLine p strong {
  font-weight: bold;
}
/* line 1193, ../sass/admin.scss */
.formWrapper .formLine h3 {
  font-weight: bold;
  font-size: 1.1em;
  padding-bottom: 5px;
}
/* line 1199, ../sass/admin.scss */
.formWrapper .formFieldTable {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  background: #efefef;
}
/* line 1206, ../sass/admin.scss */
.formWrapper .formFieldTable .formFieldRow {
  display: table-row;
}
/* line 1210, ../sass/admin.scss */
.formWrapper .formFieldTable .formFieldRowHeader .formFieldCell {
  background: #999999;
  color: white;
  text-align: center;
  font-weight: bold;
}
/* line 1217, ../sass/admin.scss */
.formWrapper .formFieldTable .formFieldCell {
  display: table-cell;
  padding: 10px;
  border: 1px solid #bbbbbb;
  vertical-align: top;
}
/* line 1222, ../sass/admin.scss */
.formWrapper .formFieldTable .formFieldCell.formFieldCellCenter {
  text-align: center;
}
/* line 1225, ../sass/admin.scss */
.formWrapper .formFieldTable .formFieldCell.formFieldCell5 {
  width: 5%;
}
/* line 1228, ../sass/admin.scss */
.formWrapper .formFieldTable .formFieldCell.formFieldCell10 {
  width: 10%;
}
/* line 1231, ../sass/admin.scss */
.formWrapper .formFieldTable .formFieldCell.formFieldCell15 {
  width: 15%;
}
/* line 1234, ../sass/admin.scss */
.formWrapper .formFieldTable .formFieldCell.formFieldCell20 {
  width: 20%;
}

/* line 1242, ../sass/admin.scss */
.formFieldsBlocks .formFieldsBlock {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #bbbbbb;
}
/* line 1246, ../sass/admin.scss */
.formFieldsBlocks .formFieldsBlock:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}
/* line 1251, ../sass/admin.scss */
.formFieldsBlocks .formFieldsBlock h2 {
  font-weight: bold;
  padding-bottom: 10px;
  color: #005f90;
}
/* line 1258, ../sass/admin.scss */
.formFieldsBlocks .formFieldsBlock3 .formField {
  float: left;
  width: 30%;
  margin: 0 2% 5px 0;
}
/* line 1264, ../sass/admin.scss */
.formFieldsBlocks .formFieldsBlock3 .formField input,
.formFieldsBlocks .formFieldsBlock3 .formField select,
.formFieldsBlocks .formFieldsBlock3 .formField textarea {
  max-width: 100%;
}
/* line 1271, ../sass/admin.scss */
.formFieldsBlocks .formFieldsBlockAddresses .nestedFormFields > label {
  display: none;
}
/* line 1275, ../sass/admin.scss */
.formFieldsBlocks .formFieldsBlockAddresses .nestedFormFields {
  padding: 0;
  margin: 0;
  border: 0;
}
/* line 1280, ../sass/admin.scss */
.formFieldsBlocks .formFieldsBlockAddresses .nestedFormFieldsObject {
  width: 29%;
  margin: 0 2% 10px 0;
  float: left;
}
/* line 1286, ../sass/admin.scss */
.formFieldsBlocks .formFieldsBlockAddresses .nestedFormFieldsObject input,
.formFieldsBlocks .formFieldsBlockAddresses .nestedFormFieldsObject select,
.formFieldsBlocks .formFieldsBlockAddresses .nestedFormFieldsObject textarea {
  width: 100%;
}
/* line 1290, ../sass/admin.scss */
.formFieldsBlocks .formFieldsBlockAddresses .nestedFormFieldsContent {
  padding-top: 15px;
}
/* line 1293, ../sass/admin.scss */
.formFieldsBlocks .formFieldsBlockAddresses .nestedFormFieldsNew {
  clear: both;
}

/* line 1299, ../sass/admin.scss */
.adminTable {
  display: table;
  table-layout: fixed;
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
}
/* line 1305, ../sass/admin.scss */
.adminTable .adminTableRow {
  display: table-row;
}
/* line 1308, ../sass/admin.scss */
.adminTable .adminTableRow.adminTableRowHeader .adminTableItem {
  font-weight: bold;
  text-align: center;
  background-color: #e7ebee;
}
/* line 1315, ../sass/admin.scss */
.adminTable .adminTableRow:nth-child(2n+2) .adminTableItem {
  background: #efefef;
}
/* line 1320, ../sass/admin.scss */
.adminTable .adminTableRow.adminTableRowTotal .adminTableItem {
  background: #ddf3ff;
  color: #005f90;
  font-weight: bold;
}
/* line 1327, ../sass/admin.scss */
.adminTable .adminTableItem {
  display: table-cell;
  padding: 5px;
  border: 1px solid #bbbbbb;
  box-sizing: border-box;
  background: white;
  font-size: 0.8em;
  vertical-align: top;
}
/* line 1335, ../sass/admin.scss */
.adminTable .adminTableItem.adminTableItem5 {
  width: 5%;
}
/* line 1338, ../sass/admin.scss */
.adminTable .adminTableItem.adminTableItem10 {
  width: 10%;
}
/* line 1341, ../sass/admin.scss */
.adminTable .adminTableItem.adminTableItem15 {
  width: 15%;
}
/* line 1344, ../sass/admin.scss */
.adminTable .adminTableItem.adminTableItem20 {
  width: 20%;
}
/* line 1347, ../sass/admin.scss */
.adminTable .adminTableItem.adminTableItem30 {
  width: 30%;
}
/* line 1350, ../sass/admin.scss */
.adminTable .adminTableItem.adminTableItem40 {
  width: 40%;
}
/* line 1353, ../sass/admin.scss */
.adminTable .adminTableItem.adminTableItem50 {
  width: 50%;
}
/* line 1356, ../sass/admin.scss */
.adminTable .adminTableItem.adminTableItemSingle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* line 1361, ../sass/admin.scss */
.adminTable .adminTableItem.adminTableItemPrice {
  text-align: right;
}
/* line 1363, ../sass/admin.scss */
.adminTable .adminTableItem.adminTableItemPrice span {
  font-size: 0.8em;
}
/* line 1367, ../sass/admin.scss */
.adminTable .adminTableItem .adminTableItemActive {
  width: 10px;
  height: 10px;
  overflow: hidden;
  background: #bbbbbb;
  text-indent: -5000px;
  display: block;
  margin: auto;
}
/* line 1375, ../sass/admin.scss */
.adminTable .adminTableItem .adminTableItemActive.adminTableItemActive1 {
  background: #15ba45;
}
/* line 1379, ../sass/admin.scss */
.adminTable .adminTableItem a {
  color: #005f90;
  display: block;
}
/* line 1382, ../sass/admin.scss */
.adminTable .adminTableItem a:hover {
  color: #27a1b2;
}
/* line 1389, ../sass/admin.scss */
.adminTable .adminTableItemDelete a,
.adminTable .adminTableItemModify a {
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(../../img/icons16.png);
  background-position: -96px 0px;
  cursor: pointer;
  text-indent: -5000px;
  overflow: hidden;
  margin: auto;
}
/* line 1399, ../sass/admin.scss */
.adminTable .adminTableItemDelete a:hover,
.adminTable .adminTableItemModify a:hover {
  opacity: 0.5;
}
/* line 1405, ../sass/admin.scss */
.adminTable .adminTableItemModify a {
  background-position: -32px 0px;
}
/* line 1409, ../sass/admin.scss */
.adminTable .adminTableItemCenter {
  text-align: center;
}
/* line 1415, ../sass/admin.scss */
.adminTable .formField input,
.adminTable .formField textarea,
.adminTable .formField select {
  max-width: 100%;
}
/* line 1421, ../sass/admin.scss */
.adminTable thead .tablesorter-header {
  background-image: url(../../img/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: #e7ebee !important;
  padding: 10px 5px;
  cursor: pointer;
}
/* line 1428, ../sass/admin.scss */
.adminTable thead .tablesorter-header.sorter-false {
  background-image: none;
  cursor: default;
}
/* line 1432, ../sass/admin.scss */
.adminTable thead .tablesorter-header.tablesorter-headerAsc {
  background-image: url(../../img/asc.gif);
  background-color: #c9d2d9 !important;
}
/* line 1436, ../sass/admin.scss */
.adminTable thead .tablesorter-header.tablesorter-headerDesc {
  background-image: url(../../img/desc.gif);
  background-color: #c9d2d9 !important;
}

/* line 1445, ../sass/admin.scss */
#adminTableStock .formField label {
  display: none;
}
/* line 1450, ../sass/admin.scss */
#adminTableStock .stockForm .adminTableRowInfoEdit {
  display: none;
}
/* line 1454, ../sass/admin.scss */
#adminTableStock .stockForm .stockFormEdit,
#adminTableStock .stockForm .stockFormSave {
  text-align: center;
  display: inline-block;
  padding: 3px 10px;
  background: #999999;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 1464, ../sass/admin.scss */
#adminTableStock .stockForm .stockFormEdit:hover,
#adminTableStock .stockForm .stockFormSave:hover {
  background: #005f90;
}
/* line 1468, ../sass/admin.scss */
#adminTableStock .stockForm .stockFormSave {
  background: #15ba45;
}
/* line 1472, ../sass/admin.scss */
#adminTableStock .stockFormEmpty {
  display: none;
}

/* line 1476, ../sass/admin.scss */
.adminTableStockOptions {
  padding-top: 20px;
}
/* line 1478, ../sass/admin.scss */
.adminTableStockOptions .adminTableStockAdd {
  display: inline-block;
  padding: 10px 20px;
  background: #15ba45;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 1486, ../sass/admin.scss */
.adminTableStockOptions .adminTableStockAdd:hover {
  background: #999999;
}

/* line 1492, ../sass/admin.scss */
.nestedFormFields .formLine {
  padding-right: 50px;
}

/* line 1496, ../sass/admin.scss */
.orderState {
  padding-left: 20px;
  position: relative;
}
/* line 1499, ../sass/admin.scss */
.orderState:after {
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 10px;
  height: 10px;
  background: #bbbbbb;
  content: " ";
}
/* line 1510, ../sass/admin.scss */
.orderState.orderState1:after {
  background: #fd3535;
}
/* line 1515, ../sass/admin.scss */
.orderState.orderState2:after {
  background: #15ba45;
}
/* line 1520, ../sass/admin.scss */
.orderState.orderState3:after {
  background: #b10202;
}
/* line 1525, ../sass/admin.scss */
.orderState.orderState4:after {
  background: #27a1b2;
}

/* line 1532, ../sass/admin.scss */
.multipleBlocks .multipleBlock {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #bbbbbb;
}
/* line 1536, ../sass/admin.scss */
.multipleBlocks .multipleBlock:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}
/* line 1541, ../sass/admin.scss */
.multipleBlocks .multipleBlock .multipleBlockHeader {
  padding-bottom: 20px;
}
/* line 1543, ../sass/admin.scss */
.multipleBlocks .multipleBlock .multipleBlockHeader h2 {
  width: 50%;
  float: left;
  font-weight: bold;
  font-size: 1.2em;
  padding-top: 10px;
}
/* line 1550, ../sass/admin.scss */
.multipleBlocks .multipleBlock .multipleBlockHeader a {
  display: block;
  width: 180px;
  padding: 10px 10px;
  float: right;
  background: #15ba45;
  color: white;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  transition: 0.5s ease;
}
/* line 1561, ../sass/admin.scss */
.multipleBlocks .multipleBlock .multipleBlockHeader a:hover {
  background: #005f90;
}

/* line 1569, ../sass/admin.scss */
.orderOptions {
  margin: 10px;
  width: 440px;
  float: left;
}
/* line 1573, ../sass/admin.scss */
.orderOptions:last-child {
  margin-bottom: 0;
}
/* line 1576, ../sass/admin.scss */
.orderOptions .orderOption {
  background: #efefef;
  border: 1px solid #e2e2e2;
  padding: 5px 10px;
  border-left: 3px solid #f7f7f7;
  min-height: 125px;
}
/* line 1582, ../sass/admin.scss */
.orderOptions .orderOption.orderOptionShip {
  border-left: 3px solid #7dc242;
}
/* line 1585, ../sass/admin.scss */
.orderOptions .orderOption.orderOptionShip .orderOptionLeft .formSubmitWrapper input,
.orderOptions .orderOption.orderOptionShip .orderOptionLeft .formSubmitWrapper input:hover {
  background: #7dc242;
}
/* line 1588, ../sass/admin.scss */
.orderOptions .orderOption.orderOptionShip .orderOptionRight h2 {
  color: #7dc242;
}
/* line 1592, ../sass/admin.scss */
.orderOptions .orderOption.orderOptionCancel {
  border-left: 3px solid #fd3535;
}
/* line 1595, ../sass/admin.scss */
.orderOptions .orderOption.orderOptionCancel .orderOptionLeft .formSubmitWrapper input,
.orderOptions .orderOption.orderOptionCancel .orderOptionLeft .formSubmitWrapper input:hover {
  background: #fd3535;
}
/* line 1598, ../sass/admin.scss */
.orderOptions .orderOption.orderOptionCancel .orderOptionRight h2 {
  color: #fd3535;
}
/* line 1602, ../sass/admin.scss */
.orderOptions .orderOption.orderOptionFinish {
  border-left: 3px solid #005f90;
}
/* line 1605, ../sass/admin.scss */
.orderOptions .orderOption.orderOptionFinish .orderOptionLeft .formSubmitWrapper input,
.orderOptions .orderOption.orderOptionFinish .orderOptionLeft .formSubmitWrapper input:hover {
  background: #005f90;
}
/* line 1608, ../sass/admin.scss */
.orderOptions .orderOption.orderOptionFinish .orderOptionRight h2 {
  color: #005f90;
}
/* line 1612, ../sass/admin.scss */
.orderOptions .orderOption.orderOptionSendMessage {
  border-left: 3px solid #27a1b2;
}
/* line 1615, ../sass/admin.scss */
.orderOptions .orderOption.orderOptionSendMessage .orderOptionLeft .formSubmitWrapper input,
.orderOptions .orderOption.orderOptionSendMessage .orderOptionLeft .formSubmitWrapper input:hover {
  background: #27a1b2;
}
/* line 1618, ../sass/admin.scss */
.orderOptions .orderOption.orderOptionSendMessage .orderOptionRight h2 {
  color: #27a1b2;
}
/* line 1622, ../sass/admin.scss */
.orderOptions .orderOption .orderOptionLeft {
  width: 60%;
  float: right;
}
/* line 1625, ../sass/admin.scss */
.orderOptions .orderOption .orderOptionLeft label {
  font-weight: normal;
  font-size: 0.9em;
  padding: 0;
  padding-bottom: 3px;
}
/* line 1633, ../sass/admin.scss */
.orderOptions .orderOption .orderOptionLeft .formField input,
.orderOptions .orderOption .orderOptionLeft .formField textarea {
  width: 100%;
}
/* line 1638, ../sass/admin.scss */
.orderOptions .orderOption .orderOptionLeft .formSubmitWrapper input {
  width: 100%;
  padding: 5px;
  text-align: center;
  display: block;
  cursor: pointer;
  background: #999999;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1em;
  border: 0;
  font-weight: bold;
}
/* line 1651, ../sass/admin.scss */
.orderOptions .orderOption .orderOptionLeft .formSubmitWrapper input:hover {
  background: gray;
}
/* line 1657, ../sass/admin.scss */
.orderOptions .orderOption .orderOptionRight {
  width: 35%;
  float: left;
  color: #333333;
}
/* line 1661, ../sass/admin.scss */
.orderOptions .orderOption .orderOptionRight p {
  font-size: 0.9em;
}
/* line 1664, ../sass/admin.scss */
.orderOptions .orderOption .orderOptionRight h2 {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 1.2em;
  color: #333333;
}

/* line 1673, ../sass/admin.scss */
.orderOptionsMessage {
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  font-size: 0.9em;
  text-transform: uppercase;
  color: white;
  background: #333333;
}
/* line 1681, ../sass/admin.scss */
.orderOptionsMessage.orderOptionsMessage2 {
  background: #7dc242;
}
/* line 1684, ../sass/admin.scss */
.orderOptionsMessage.orderOptionsMessage3 {
  background: #fd3535;
}
/* line 1687, ../sass/admin.scss */
.orderOptionsMessage.orderOptionsMessage4 {
  background: #005f90;
}
/* line 1690, ../sass/admin.scss */
.orderOptionsMessage span {
  font-weight: bold;
  font-size: 1.2em;
  display: inline-block;
  padding: 0 0 0 20px;
}
/* line 1696, ../sass/admin.scss */
.orderOptionsMessage em {
  font-style: normal;
  font-size: 0.9em;
  text-transform: none;
  opacity: 0.8;
}

/* line 1704, ../sass/admin.scss */
.orderModify {
  padding: 10px;
  background: #efefef;
  border: 1px solid #e2e2e2;
  margin: 30px 0;
}
/* line 1709, ../sass/admin.scss */
.orderModify form {
  padding: 0;
  margin: 0;
  border: 0;
}
/* line 1714, ../sass/admin.scss */
.orderModify .orderStockItem {
  padding-bottom: 20px;
}
/* line 1716, ../sass/admin.scss */
.orderModify .orderStockItem:last-child {
  padding-bottom: 0;
}
/* line 1719, ../sass/admin.scss */
.orderModify .orderStockItem h3 {
  font-weight: bold;
  font-size: 1em;
  padding-bottom: 5px;
  color: #005f90;
}
/* line 1724, ../sass/admin.scss */
.orderModify .orderStockItem h3 span {
  color: #333333;
  padding-right: 10px;
  display: inline-block;
}
/* line 1731, ../sass/admin.scss */
.orderModify .adminTable {
  font-size: 1.1em;
}

/* line 1735, ../sass/admin.scss */
.orderModifyOptions {
  margin: 30px 0;
}

/* line 1738, ../sass/admin.scss */
.orderModifySimpleOptions {
  text-align: right;
  padding-top: 5px;
}
/* line 1741, ../sass/admin.scss */
.orderModifySimpleOptions.orderModifySimpleOptionAll {
  text-align: left;
  padding-bottom: 20px;
}
/* line 1744, ../sass/admin.scss */
.orderModifySimpleOptions.orderModifySimpleOptionAll .orderModifySimpleOption {
  padding: 0 5px 0 0;
}
/* line 1746, ../sass/admin.scss */
.orderModifySimpleOptions.orderModifySimpleOptionAll .orderModifySimpleOption a {
  background: #2cb6c9;
  border: 1px solid #27a3b4;
  color: white;
}
/* line 1750, ../sass/admin.scss */
.orderModifySimpleOptions.orderModifySimpleOptionAll .orderModifySimpleOption a:hover {
  background: #108696;
}
/* line 1756, ../sass/admin.scss */
.orderModifySimpleOptions .orderModifySimpleOption {
  display: inline-block;
  padding: 0 0 0 5px;
}
/* line 1759, ../sass/admin.scss */
.orderModifySimpleOptions .orderModifySimpleOption a {
  display: inline-block;
  padding: 5px 10px;
  background: #e6e6e6;
  border: 1px solid #d9d9d9;
  color: #666666;
  font-size: 0.9em;
  font-weight: normal;
}
/* line 1767, ../sass/admin.scss */
.orderModifySimpleOptions .orderModifySimpleOption a strong {
  font-weight: bold;
}
/* line 1770, ../sass/admin.scss */
.orderModifySimpleOptions .orderModifySimpleOption a:hover {
  background: #333333;
  color: white;
}
/* line 1776, ../sass/admin.scss */
.orderModifySimpleOptions .orderModifySimpleOption.orderModifySimpleOptionImportant a {
  background: #f2f2f2;
}
/* line 1778, ../sass/admin.scss */
.orderModifySimpleOptions .orderModifySimpleOption.orderModifySimpleOptionImportant a:hover {
  background: #333333;
  color: white;
}
