@import "compass/reset";

@import "_variables.scss";
@import "_common.scss";
@import "_mixins.scss";

@import "_public_header.scss";
@import "_public_menu.scss";
@import "_public_footer.scss";

html,
body {
    background: rgba($colorText, 0.02);
}

.content {
    font-size: 1.2em;
    max-width: $sizeDesktop;
    margin: auto;
    padding: 100px 0;
}

.shareIcons {
    display: inline-block;
    text-align: right;
    padding: 0 0 10px 0;
    .shareIcon {
        display: inline-block;
        padding: 0 0 0 10px;
        a {
            display: inline-block;
            width: 35px;
            height: 35px;
            overflow: hidden;
            text-indent: -5000px;
            text-align: left;
            background: $colorText;
            opacity: 0.8;
            @include animate();
            @include borderRadius(35px);
            @include iconBeforeAbsolute($icon-facebook, $paddingLeft: 0, $top: 0, $left: 0);
            &:before {
                text-indent: 0;
                text-align: center;
                width: 35px;
                line-height: 35px;
                color: $white;
                font-weight: normal;
            }
            &:hover {
                opacity: 1;
                background: lighten($colorText, 10%);
                @include borderRadius(0);
            }
        }
        &.shareIcon-facebook a {
            background: $colorFacebook;
            &:before {
                content: $icon-facebook;
            }
        }
        &.shareIcon-twitter a {
            background: $colorTwitter;
            &:before {
                content: $icon-twitter;
            }
        }
        &.shareIcon-youtube a {
            background: $colorYoutube;
            &:before {
                content: $icon-youtube;
            }
        }
        &.shareIcon-linkedin a {
            background: $colorLinkedin;
            &:before {
                content: $icon-linkedin;
            }
        }
        &.shareIcon-vimeo a {
            background: $colorVimeo;
            &:before {
                content: $icon-vimeo;
            }
        }
        &.shareIcon-instagram a {
            background: $colorInstagram;
            &:before {
                content: $icon-instagram;
            }
        }
    }
}

.contentWrapper {
    padding: 0 0 150px 0;
    .content {
        background: $white;
        margin: 20px auto;
        padding: 20px;
        max-width: $sizeDesktop;
        @include simpleShadow();
        @include borderBox();
    }
}