@import "compass/reset";

@import "_variables.scss";
@import "_common.scss";
@import "_mixins.scss";

@import "_public_header.scss";
@import "_public_menu.scss";
@import "_public_footer.scss";
@import "_public_sidebar.scss";

html,
body {
    background-color: rgba($colorText, 0.02);
    background-image: url('../../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}

.shareIcons {
    display: inline-block;
    text-align: right;
    padding: 0 0 10px 0;
    .shareIcon {
        display: inline-block;
        padding: 0 0 0 10px;
        a {
            display: inline-block;
            width: 35px;
            height: 35px;
            overflow: hidden;
            text-indent: -5000px;
            text-align: left;
            background: $colorText;
            opacity: 0.7;
            @include animate();
            @include borderRadius(35px);
            @include iconBeforeAbsolute($icon-facebook, $paddingLeft: 0, $top: 0, $left: 0);
            &:before {
                text-indent: 0;
                text-align: center;
                width: 35px;
                line-height: 35px;
                color: $white;
                font-weight: normal;
            }
            &:hover {
                opacity: 1;
                background: lighten($colorText, 10%);
                @include simpleShadow();
            }
        }
        &.shareIcon-facebook a {
            background: $colorFacebook;
            &:before {
                content: $icon-facebook;
            }
        }
        &.shareIcon-twitter a {
            background: $colorTwitter;
            &:before {
                content: $icon-twitter;
            }
        }
        &.shareIcon-youtube a {
            background: $colorYoutube;
            &:before {
                content: $icon-youtube;
            }
        }
        &.shareIcon-linkedin a {
            background: $colorLinkedin;
            &:before {
                content: $icon-linkedin;
            }
        }
        &.shareIcon-vimeo a {
            background: $colorVimeo;
            &:before {
                content: $icon-vimeo;
            }
        }
        &.shareIcon-instagram a {
            background: $colorInstagram;
            &:before {
                content: $icon-instagram;
            }
        }
    }
}

.content {
    padding: 150px 0 0 0;
}
.contentWrapper {
    &.contentWrapperDocumentation {
        .header {
            .logo {
                opacity: 1;
            }
        }
        .content {
            margin: 60px auto;
            padding: 0;
            max-width: $sizeDesktop;
            .contentIns {
                padding: 20px;
                background: $white;
            }
        }
    }
}

.pageBlock {
    min-height: 500px;
    &.pageBlockIntro {
        text-align: center;
        color: $white;
        background: url(../../img/logoAltMedium.png) no-repeat top center;
        padding: 140px 0 0 0;
        h1 {
            font-size: $fontSizeBig;
            font-style: italic;
            padding: 0 0 40px 0;
            text-shadow: 1px 1px $black;
        }
        .introButtons {
            padding: 100px 0 0 0;
            a {
                display: inline-block;
                padding: 10px 25px;
                margin: 0 10px;
                background: $white;
                font-weight: normal;
                font-size: $fontSizeBig;
                border: 2px solid rgba($white, 0.5);
                @include borderRadius(4px);
                @include simpleShadow();
                span {
                    font-size: $fontSizeTiny;
                }
                &.introButtonDownload {
                    background: $colorAccentAlt;
                }
                &:hover {
                    background: lighten($colorMain, 10%);
                    color: $white;
                }
            }
        }
    }
    .pageBlockContent {
        max-width: $sizeDesktop;
        margin: auto;
        padding: 100px 0;
        .pageComplete {
            font-size: 1.4rem;
            p,
            fieldset,
            table,
            li,
            pre {
                line-height: 2rem;
            }
            a {
                font-weight: bold;
                text-decoration: underline;
                &:hover {
                    opacity: 0.6;
                }
            }
            em {
                font-size: $fontSizeSmall;
                font-style: normal;
            }
            ol {
                margin: 20px 0;
                padding: 0 0 0 2em;
                li {
                    margin: 0;
                    padding: 0 0 1em 2em;
                    list-style: none;
                    position: relative;
                    &:before {
                        content: "1";
                        font-size: 2.5rem;
                        font-weight: bold;
                        color: $colorAccentAlt;
                        opacity: 0.5;
                        position: absolute;
                        top: 0.3em;
                        left: 0;
                    }
                    &:nth-child(2):before {
                        content: "2";
                    }
                    &:nth-child(3):before {
                        content: "3";
                    }
                    &:nth-child(4):before {
                        content: "4";
                    }
                    &:nth-child(5):before {
                        content: "5";
                    }
                    &:nth-child(6):before {
                        content: "6";
                    }
                    &:nth-child(7):before {
                        content: "7";
                    }
                    &:nth-child(8):before {
                        content: "8";
                    }
                }
            }
        }
    }
    &.pageBlockMain {
        min-height: 0;
        background: $colorAccentAlt;
        color: $colorMain;
        .pageComplete {
            padding: 0 20% 0 30%;
        }
        a {
           color: $colorMain;
        }
        strong {
            color: lighten($colorMain, 10%);
        }
    }
    &.pageBlockWhen {
        min-height: 0;
        background: $colorAccent;
        color: $white;
        .pageComplete {
            padding: 0 30% 0 20%;
        }
        a {
           color: $white;
        }
        li {
            strong {
                color: $colorAccentAlt;
            }
        }
    }
    &.pageBlockExamples {
        min-height: 0;
        background: $white;
        color: $colorMain;
        .pageComplete {
            padding: 0;
        }
        a {
           color: $colorMain; 
        }
    }
    &.pageBlockDocumentation {
        min-height: 0;
        background: $colorMainAlt;
        color: $white;
        .pageComplete {
            padding: 0 20% 0 30%;
        }
        a {
           color: $white;
        }
    }
}
.tableInfo {
    width: 100%;
    td,
    th {
        padding: 10px;
        border: 1px solid lighten($colorAccentAlt, 10%);
        vertical-align: top;
    }
    &.tableInfo2 {
        th,
        td {
            &:first-child {
                width: 20%;
                background: $colorAccentAlt;
                em {
                    background: rgba($white, 0.7);
                }
                strong {
                    em {
                        color: lighten($colorAccent, 5%); 
                    }
                }
            }
        }
    }
}

.itemComplete {
    .pageComplete {
        h2 {
            font-size: 2rem;
            padding: 15px 0;
            margin: 50px 0 15px 0;
            position: relative;
            color: lighten($colorText, 5%); 
            font-weight: bold;
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 160px;
                height: 4px;
                background: $colorAccentAlt;
                content: '';
            }
        }
        h3 {
            font-size: 1.4rem;
            padding: 15px 0 10px 0;
            color: lighten($colorAccent, 10%); 
            font-weight: bold;
        }
        strong {
            color: lighten($colorAccent, 5%); 
        }
        a {
            color: lighten($colorText, 20%);
            font-weight: bold;
            text-decoration: underline;
            &:hover {
                color: lighten($colorAccent, 20%);
            }
        }
        em {
            display: inline-block;
            padding: 0 5px;
            background: lighten($black, 92%);
            color: lighten($black, 40%);
            font-family: $fontFamilyCode;
            font-style: normal;
            font-size: $fontSizeSmall;
        }
        pre {
            line-height: 1em;
        }
    }
}