@import "compass/reset";

$white: #FFF;
$blueLight1: #108696;
$blueLight2: #27A1B2;
$blueLight3: #C9FFFC;
$blueLight4: #2CB6C9;
$blueDark1: #005F90;
$blueDark2: #002F5B;
$greenLight1: #7DC242;
$greenDark1: #5C972A;
$grayLight1: #EFEFEF;
$grayLight2: #E7EBEE;
$grayLight3: #BBBBBB;
$grayLight4: #F7F7F7;
$grayDark1: #333;
$grayDark2: #666;
$grayDark3: #999;
$bgActive: #29C74D;
$bgNotActive: #818181;
$bgColorMenu1: #2C3E50;
$bgColorMenu2: #1A1D22;
$bgColorMessage: #38B0A6;
$bgColorMessageError: #FF3030;
$red: #FD3535;
$green: #15BA45;

$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;


@mixin borderRadius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin simpleShadow() {
	moz-box-shadow: 0px 0px 10px #DDD;
	-webkit-box-shadow: 0px 0px 10px #DDD;
	box-shadow: 0px 0px 10px #DDD;
}
@mixin darkShadow() {
	moz-box-shadow: 0px 0px 5px #CCC;
	-webkit-box-shadow: 0px 0px 5px #CCC;
	box-shadow: 0px 0px 5px #CCC;
}
@mixin hideText() {
	text-indent: -5000px;
	text-align: left;
	overflow: hidden;
}
@mixin animate() {
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	transition: 0.5s ease;
}
@mixin rotate($degrees) {
    transform: rotate($degrees);
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
}

input,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: $fontFamily;
	background: $grayLight2;
	color: $grayDark1;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
p,
form,
fieldset,
h1,h2,h3,h4,h5,h6 {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: $grayDark1;
}
.clearer {
	clear: both;
}
input,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

//HEADER
.headerWrapper {
	background: $blueLight1;
	color: $white;
	padding:10px 0px;
	z-index:999;
	a {
		color: $white;
	}
	.headerIns {
		max-width: 1200px;
		margin: auto;
	}
	.headerLeft {
		width: 30%;
		padding-top: 8px;
		float: left;
		.logo {
			width: 125px;;
			a {
				display: block;
				width: 125px;
				height: 30px;
				background-image: url(../../img/logo.png);
				background-repeat: no-repeat;
				background-position: top left;
				background-size: contain;
				@include hideText();
			}
		}
	}
	.headerRight {
		width: 70%;
		float: left;
		text-align: right;
		font-size: 0.8em;
	}
	.langs {
		padding-bottom: 5px;
	}
	.lang {
		float: right;
		margin-left: 10px;
		a, span {
			padding: 3px 5px;
			font-weight: bold;
			font-size: 0.9em;
			display: block;
			text-transform: uppercase;
		}
		a {
			background: $blueLight2;
			border: 1px solid $blueLight2;
			&:hover {
				border: 1px solid $white;
			}
		}
		span {
			background: $greenLight1;
			border: 1px solid $greenLight1;
		}
	}
	.infoUser {
		font-size: 0.95em;
		a:hover {
			color: $blueLight3;
		}
	}	
}

//FOOTER
.footer {
	text-align: center;
	padding: 15px;
	padding-top: 80px;
	font-size: 0.8em;
}

//CONTENT
.contentWrapper {
	position: relative;
	h1 {
		font-size: 1.6em;
		font-weight: normal;
		color: $blueDark2;
		padding-bottom: 1em;
	}
	h2 {
		font-size: 1.3em;
		font-weight: normal;
		color: $blueDark1;
		padding-bottom: 10px;
	}
}
.contentSimple {
	width: 400px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 15px;
	border: 1px solid $grayLight1;
	background: $white;
	padding: 15px;
	@include simpleShadow();
	@include borderRadius(5px);
	p,a {
		color: $grayDark2;
		text-align: center;
		font-size: 0.9em;
		padding: 5px 0px;
	}
	.formAdmin {
		h2 {
			padding-top: 1em;
			margin-top: 1em;
			border-top: 1px solid $grayLight2;
		}
		.formField input,
		.formField textarea,
		.formField select {
			width: 100%;
		}
		.formField .checkboxIns input {
			float: left;
			margin-right: 15px;
			width: auto;
		}
		input.formSubmit {
			margin: auto;
			margin-top: 1em;
		}
	}
}
.contentSimpleInstall {
	margin: 50px auto;
}
.contentIns {
	width: 1200px;
	margin: auto;
	position: relative;
	.contentTop {
		padding-bottom: 10px;
	}
	.contentTopLeft {
		width: 40%;
		float: left;
	}
	.contentTopRight {
		width: 60%;
		float: left;
	}
	.contentMenu {
		width: 15%;
		float: left;
		color: $white;
		margin-top: 20px;
		font-size: 0.85em;
		padding-bottom: 40px;
		.menuSideItem {
			a {
				font-weight: normal;
				display: block;
				padding: 5px;
				color: $white;
				background: $blueLight2;
				border-bottom: 1px solid $grayLight4;
				&:hover {
					background: $grayDark3;
					color: $white;
				}
			}
			span {
				text-transform: uppercase;
				font-size: 0.75rem;
				font-weight: bold;
				padding: 3px 0;
				margin-top: 10px;
				border-top: 1px solid $grayLight3; 
				color: $grayDark2;
				display: block;
			}
		}
		.menuSideItem-1 a {
			background: $blueLight1;
			color: $white;
		}
		.menuSideItem-2 a {
			background: $blueLight4;
			color: $white;
		}
		.menuSideItem-3 a {
			background: $greenLight1;
			color: $white;
		}
		.btnModeExit a {
			color: $bgColorMessageError;
		}
		.btnModeExtra a {
			color: $blueLight1;
		}
	}
	.contentInsWrapper {
		width: 85%;
		float: right;
		background: $grayLight2;
	}
	.content {
		padding: 20px;
		margin: 20px;
		margin-right: 0px;
		background: $white;
		@include simpleShadow();
		@include borderRadius(5px);
	}
	.listAdmin {
		padding-bottom: 10px;
	}
	.sublistAdmin {
		padding-bottom: 20px;
	} 
	.sublistAdmin .listAdmin {
		margin-left: 60px;
		padding: 0px;
		border: 0px;
		margin-top: 0px;
	}
	.formAdminInsert,
	.formAdminModify {
		margin-bottom: 10px;
		background: $grayLight2;
		border: 1px solid $grayLight3;
		padding: 10px;
		position: relative;
	}
	.lineAdmin {
		padding: 5px;
		margin-bottom: 5px;
		border: 1px solid $grayLight2;
		background: $grayLight4;
		font-size: 0.9em;
		.lineAdminOptions {
			float: right;
		}
		a {
			color: $blueLight1;
			&:hover {
				color: $blueLight2;
			}
		}
		.checkboxAdmin {
			float: left;
			padding: 0px 5px;
			margin-right: 15px;
		}
	}
	.lineAdminLabel{
		float: left;
		width: 500px;
	}
}
.menuSimple {
	.menuSimpleItem {
		width: 120px;
		float: right;
		margin-left: 10px;
		a {
			display: block;
			background: $grayLight1;
			border: 1px solid $grayDark3;
			text-align: center;
			padding: 5px;
			font-size: 0.8em;
			span {
				display: block;
				width: 32px;
				height: 32px;
				margin: auto;
				background-image: url(../../img/icons32.png);
				background-repeat: no-repeat;
				margin-bottom: 5px;
			}
			&:hover {
				border: 1px solid $grayDark1;
			}
		}
	}
	.menuSimpleItemInsert span{
		background-position: -128px 0px;
	}
	.menuSimpleItemCancel span {
		background-position: -192px 0px;
	}
	.menuSimpleItemList span {
		background-position: -224px 0px;	
	}
	.menuSimpleItemExport span {
		background-position: -96px 0px;	
	}
}
.formAdmin {
	font-size: 0.9em;
	fieldset {
		position: relative;
	}
	label {
		display: block;
		color: $blueLight1;
		font-weight: bold;
		padding-bottom: 3px;
		font-size: 0.9em;
		span {
			font-size: 0.8em;
			font-style: italic;
			color: $grayDark2;
			font-weight: normal;
		}
	}
	.formField {
		padding-bottom: 10px;
	}
	.formField input,
	.formField textarea,
	.formField select {
		background: $white;
		color: $grayDark1;
		border: 1px solid $grayDark3;
		padding: 3px;
		font-size: 0.9em;
		font-family: $fontFamily;
		&:focus {
			border: 1px solid $blueDark2;
		}
		&:disabled {
			background: $grayLight1;
			border: 1px solid $grayLight2;
			color: $grayDark2;
		}
	}
	.formField select {
		width: 100%;
		max-width: 80%;
	}
	.formField .checkboxIns input {
		float: left;
		margin-right: 15px;
		width: auto;
		font-family: $fontFamily;
	}
	.formFieldsImage img {
		padding: 3px;
		background: $white;
		border: 1px solid $grayLight4;
		margin-bottom: 3px;
	}
	.formFieldsFile {
		padding-top: 3px;
		font-size: 0.8em;
		a {
			color: $grayDark2;
			text-decoration: underline;
			&:hover {
				color: $grayDark3;
			}
		}
	}
	.multipleCheckboxes {
		padding-bottom: 10px;
		label {
			padding-bottom: 10px;
		}
		.checkboxIns label {
			font-weight: normal;
			color: $grayDark2;
			padding-bottom: 2px;
		}
		.formField {
			padding: 0px;
		}
	}
	.selectCheckbox select,
	.selectCheckbox .checkbox {
		float: left;
	}
	.selectDate {
		select {
			margin-right: 10px;
		}
	}
	input.formSubmit {
		border: 0px;
		display: block;
		width: 200px;
		padding: 7px 10px;
		text-align: center;
		color: $white;
		background: $blueLight1;
		margin-top: 10px;
		cursor: pointer;
		font-weight: bold;
		font-size: 1em;
		@include borderRadius(3px);
		&:hover {
			background: $blueLight2;
		}
	}
	.submitButtons input.formSubmit {
		float: left;
		margin-right: 15px;
	}
	.btnExtraAction a {
		border: 0px;
		display: block;
		width: 300px;
		padding: 5px 10px;
		text-align: center;
		color: $white;
		background: $greenLight1;
		margin-top: 10px;
		cursor: pointer;
		font-weight: normal;
		font-size: 0.9em;
		@include borderRadius(3px);
		&:hover {
			background: $blueLight2;
		}
	}
	.btnExtraActionInfo {
		padding: 10px 0px;
		color: $grayDark2;
		font-size: 0.9em;
		font-style: italic;
		strong {
			font-weight: bold;
		}
	}
	.error {
		color: $bgColorMessageError;
	}
	.errorField input,
	.errorField textarea,
	.errorField select {
		border: 1px solid $bgColorMessageError;
	}
	p {
		padding-bottom: 5px;
	}
}
.simpleForm {
	p {
		font-size: 0.9em;
		padding-bottom: 10px;
	}
	a {
		color: $greenLight1;
		@include animate();
		&:hover {
			color: $greenDark1;
		}
	}
}
//Form search
.formAdminSearch {
	padding-bottom: 10px;
	width: 400px;
	.formField {
		float: left;
		width: 70%;
		input {
			width: 100%;
			padding: 2px 5px;
			border: 1px solid $grayLight3;
			font-family: $fontFamily;
		}
	}
	.formSubmitWrapper {
		width: 27%;
		float: right;
		input {
			width: 100%;
			display: block;
			background: $greenLight1;
			color: $white;
			text-align: center;
			font-family: $fontFamily;
			padding: 2px;
			border: 0px;
			font-weight: bold;
			cursor: pointer;
			&:hover {
				background: $blueLight1;
			}
		}
	}
}

//Multiple forms
.nestedFormFields {
	margin-top: 10px;
	padding-top: 20px;
	padding-bottom: 10px;
	border-top: 1px solid $grayDark3;
	.nestedFormFieldsEmpty,
	.nestedFormFieldsObject {
		padding: 10px;
		background: $grayLight1;
		margin: 10px 0px;
		@include darkShadow();
	}
	.nestedFormFieldsAdd {
		border: 0px;
		display: block;
		width: 240px;
		padding: 5px 7px;
		text-align: center;
		color: $white;
		background: $greenLight1;
		margin-top: 5px;
		cursor: pointer;
		font-weight: bold;
		font-size: 0.9em;
		@include borderRadius(3px);
		&:hover {
			background: $greenDark1;
		}
	}
	.nestedFormFieldsDelete,
	.nestedFormFieldsOrder {
		float: right;
		width: 16px;
		height: 16px;
		background-image: url(../../img/icons16.png);
		background-position: -96px 0px;
		cursor: pointer;
		&:hover {
			opacity: 0.5;
		}
	}
	.nestedFormFieldsOrder {
		background-position: 0px 0px;
		margin-right: 10px;
	}
	.nestedFormFieldsEmpty {
		display: none;
	}
}
//Multiple actions
.multipleActions {
	margin-bottom: 10px;
	background: $grayLight2;
	@include borderRadius(3px);
	.multipleAction {
		padding: 5px 10px;
		float: left;
		border-right: 1px solid $grayLight3;
		color: $blueDark2;
		font-size: 0.7em;
		cursor: pointer;
		&:hover {
			color: $white;
			background: $blueDark1;
			border-right: 1px solid $blueDark1;
		}
		&.multipleActionCheckAll {
			padding-bottom: 0px;
			&:hover {
				background: $grayLight2;
				border-right: 1px solid $grayLight3;
			}
		}
	}
	.multipleActionSelectAll,
	.multipleActionDeselectAll {
		color: $grayDark2;
		font-weight: bold;
	}
}
//Pager
.pagerAll {
	padding-bottom: 10px;
	font-size: 0.9em;
	.pagerActive,
	.pager {
		float: left;
		margin-right: 5px;
		font-size: 0.9em;
		a {
			padding: 2px 10px;
			background: $grayLight1;
			font-weight: bold;
			&:hover {
				background: $grayLight3;
				color: $white;
			}
		}
	}
	.pagerActive a {
		background: $blueLight2;
		color: $white;
	}
}

//Messages
.message {
	font-size: 0.9em;
	line-height: 1.2em;
	padding: 15px;
	margin: 15px 0px;
	text-align: center;
	color: $white;
	background: $bgColorMessage;
	font-weight: bold;
	@include borderRadius(3px);
}
.messageError {
	background: $bgColorMessageError;	
}

//Map
.map {
	.mapIns {
		width: 400px;
		height: 250px;
	}
}

//Labels
.label {
	font-size: 0.95em;
	line-height: 1.2em;
	.labelInsideWrapper {
		float: left;
		margin-right: 15px;
	}
	.labelstyle_small {
		font-size: 0.9em;
		color: $grayDark1;
	}
	.labelstyle_active {
		float: left;
		margin-right: 5px;
		margin-top: 5px;
		.activeItem {
			display: block;
			width: 10px;
			height: 10px;
			overflow: hidden;
			text-indent: -5000px;
		}
	}
	.labelstyle_long {
		float: left;
		width: 85%;
		margin-right: 5px;
	}
	.labelstyle_big {
		float: left;
		width: 65%;
		margin-right: 5px;
	}
	.labelstyle_regular {
		float: left;
		width: 40%;
		margin-right: 5px;
	}
	.labelstyle_regularSmall {
		float: left;
		width: 60%;
		margin-right: 5px;
		font-size: 0.9em;
		color: $grayDark3;
		font-style: italic;
	}
	.labelstyle_medium {
		float: left;
		width: 35%;
		font-size: 0.95em;
		margin-right: 5px;
	}
	.labelstyle_small {
		font-size: 0.9em;
		color: $grayDark3;
		font-style: italic;
	}
	.labelstyle_image {
		float: left;
		width: 20%;
		margin-right: 10px;
		img {
			width: 100%;
		}
	}
	.activeItem_0 {
		background: $bgNotActive;
	}
	.activeItem_1 {
		background: $bgActive;
	}
	.labelTypeAdminSmall {
		display: inline-block;
		padding: 1px 5px;
		background: $blueLight2;
		color: $white;
		font-size: 0.8em;
		font-weight: bold;
	}
}

//Icons
.iconSide {
	margin-left: 15px;
	float: left;
	cursor: pointer;
	background-image: url(../../img/icons16.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
	overflow: hidden;
	text-indent: -500px;
	a {
		display:block;
		width: 16px;
		height: 16px;
	}
	&:hover {
		opacity: 0.5;
	}
}
.iconModify {background-position: -32px 0px;}
.iconDelete {background-position: -96px 0px;}
.iconHandle {background-position: 0px 0px;}
.iconView {background-position: -48px 0px;}

//Autocomplete
.ui-autocomplete {
	padding: 0px;
	margin: 0px;
	border:1px solid $grayDark1;
	background: $white;
	color: $grayDark1;
	width:200px;
	font-size: 0.85em;
	a {
		display: block;
		color:#333;
		padding: 5px;
		font-weight: normal;
	}
	li {
		padding: 0px;
		margin: 0px;
		list-style: none;
	}
}
.ui-autocomplete a.ui-state-hover,
.ui-autocomplete a.ui-state-focus{
	background: $grayLight2;
	text-decoration: none;
}
.ui-helper-hidden-accessible {
	display: none;
}

//Date picker
.ui-datepicker {
	background: #FFF;
	padding: 3px;
	border: 1px solid #CCC;
	color: #333;
	font-size: 0.8em;
	z-index: 999999 !important;
	a {
		display: block;
		color: #666;
		padding: 1px 3px;
		background: #EFEFEF;
		text-align: center;
	}
	.ui-datepicker-unselectable span {
		display: block;
		color: #CCC;
		padding: 1px 3px;
		background: #FFF;
		text-align: center;
	}
	.ui-datepicker-week-end a{
		background: #E0E0E0;
	}
	a:hover{
		background: #E52D2C;
		color: #FFF;
	}
	th {
		text-align: center;
		color: #888;
		font-size: 12px;
	}
	th.ui-datepicker-week-end {
		background: #FFF;
	}
	td {
		border: 1px solid #FFF;
	}
	.ui-state-highlight {
		color: #E52D2C;
	}
	.ui-datepicker-title {
		text-align: center;
		font-weight: bold;
		color: #777;
		clear: both;
	}
	.ui-datepicker-header {
		height: 20px;
		position: relative;
	}
	a.ui-datepicker-prev,
	a.ui-datepicker-next,
	a.ui-datepicker-prev:hover{
		position: absolute;
		top:0px;
		left: 0px;
		background: url(../../img/arrowLeft.png) no-repeat center center;
		width:15px;
		height: 15px;
		text-align: left;
		text-indent: -5000px;
		overflow: hidden;
		float: left;
		cursor: pointer;
	}
	a.ui-datepicker-next,
	a.ui-datepicker-next:hover{
		left: auto;
		right: 0px;
		background: url(../../img/arrowRight.png) no-repeat center center;
		float: right;
	}
}
.imagesChoice {
	padding: 10px 0px;
	.imagesChoiceTitle {
		color: $blueLight1;
		font-size: 0.9em;
		font-weight: bold;
		padding-bottom: 5px;
	}
	img {
		height: 50px;
		padding: 2px;
		background: $white;
		border: 1px solid $grayLight3;
		margin-right: 5px;
		cursor: pointer;
		&:hover {
			background: $greenLight1;
			border: 1px solid $greenLight1;
		}
	}
}

.fieldsBlock {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid $grayLight3;
	&.fieldsBlockLast {
		margin-bottom: 0px;
		padding-bottom: 0px;
		border-bottom: 0px;
	}
}
.labelChrono {
	float: left;
	width: 30%;
	padding-right: 2%;
	.labelChronoDescription {
		font-size: 0.8em;
		color: $grayDark3;
		font-style: italic;
	}
}


.listAnnotations {
	.listAnnotationsItem {
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid $grayLight3;
		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: 0;
		}
	}
	.listAnnotationsTitle {
		color: $blueLight1;
		font-size: 1.1em;
		font-weight: bold;
		padding-bottom: 10px;
	}
	.listAnnotationsItems {
		padding-left: 30px;
	}
	.responsesAdmin {
		font-size: 0.8em;
		color: $grayDark3;
		padding: 5px;
		border-bottom: 1px solid $grayLight1;
		background: lighten($grayLight1, 5%);
		.responsesAdminLeft {
			width: 50%;
			float: left;
			padding-left: 25%;
		}
		.responsesAdminRight {
			width: 25%;
			float: right;
			text-align: right;
			.responsesAdminOption {
				display: inline-block;
				margin: 0px 3px 3px 0px;
				font-size: 0.8em;
				font-weight: bold;
				padding: 3px 5px;
				background: $red;
				color: $white;
				cursor: pointer;
				@include animate();
				&:hover {
					opacity: 0.6;
				}
			}
		}
	}
	.annotationAdmin {
		padding-bottom: 3px;
		margin-bottom: 3px;
		border-bottom: 1px solid $grayLight2;
		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: 0;
		}
		&.annotationAdminHidden {
			color: $grayLight3;
		}
	}
	.annotationAdminIns {
		display: table;
		table-layout: fixed;
		font-size: 0.8em;
		strong {
			font-weight: bold;
		}
		.annotationAdminItem {
			display: table-cell;
			padding: 3px;
		}
		.annotationAdminItem1 {
			width: 15%;
			font-size: 0.9em;
			opacity: 0.6;
		}
		.annotationAdminItem3 {
			width: 25%;
		}
	}
	.annotationAdminOptions {
		text-align: right;
		.annotationAdminOption {
			display: inline-block;
			margin: 0px 3px 3px 0px;
			font-size: 0.8em;
			font-weight: bold;
			padding: 3px 5px;
			background: $grayDark3;
			color: $white;
			cursor: pointer;
			@include animate();
			&:hover {
				opacity: 0.6;
			}
		}
		.annotationAdminOptionDelete {
			background: $red;
		}
		.annotationAdminOptionPublic {
			background: $green;
		}
	}
}

.backButton {
	padding-bottom: 10px;
	a {
		font-size: 0.7em;
		display: inline-block;
		padding: 5px 10px;
		background: $blueLight1;
		color: $white;
		&:hover {
			background: $blueDark1;
		}
	}
}

.formWrapper {
	.formLine {
		&.formLine4,
		&.formLine3,
		&.formLine2 {
			& > .formField {
				width: 23%;
				margin-right: 2%;
				float: left;
				input,
				select,
				textarea {
					width: 100%;
				}
				.checkBoxInline {
					input,
					select {
						width: auto;
					}
				}
			}
		}
		&.formLine3 {
			& > .formField {
				width: 31%;
			}
		}
		&.formLine2 {
			& > .formField {
				width: 48%;
			}
		}
		&.formLineMultiple {
			padding-top: 10px;
			margin-top: 10px;
			border-top: 1px solid $grayLight3;
			.formField {
				float: left;
				width: 23%;
				margin-right: 2%;
				float: left;
				label {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
		&.formLineHidden {
			.multipleCheckboxesIns {
				max-height: 200px;
				overflow: auto;
				margin-bottom: 20px;
				background: rgba($white, 0.25);
				padding: 10px;
				border: 1px solid $grayLight3;
			}
		}
		&.formLineSimple {
			padding-bottom: 20px;
			margin-bottom: 20px;
			border-bottom: 1px solid $grayLight3;
		}
		&.formLinePrice {
			padding: 20px 0;
			margin: 20px 0;
			border-bottom: 1px solid $grayLight3;	
			strong {
				font-size: 1.1em;
				display: block;
				font-weight: bold;
			}
		}
		p {
			strong {
				font-weight: bold;
			}
		}
		h3 {
			font-weight: bold;
			font-size: 1.1em;
			padding-bottom: 5px;
		}
	}
	.formFieldTable {
		display: table;
		table-layout: fixed;
		width: 100%;
		border-collapse: collapse;
		margin: 20px auto;
		background: $grayLight1;
		.formFieldRow {
			display: table-row;
		}
		.formFieldRowHeader {
			.formFieldCell {
				background: $grayDark3;
				color: $white;
				text-align: center;
				font-weight: bold;
			}
		}
		.formFieldCell {
			display: table-cell;
			padding: 10px;
			border: 1px solid $grayLight3;
			vertical-align: top;
			&.formFieldCellCenter {
				text-align: center;
			}
			&.formFieldCell5 {
				width: 5%;
			}
			&.formFieldCell10 {
				width: 10%;
			}
			&.formFieldCell15 {
				width: 15%;
			}
			&.formFieldCell20 {
				width: 20%;
			}
		}
	}
}

.formFieldsBlocks {
	.formFieldsBlock {
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $grayLight3;
		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			border-bottom: 0;			
		}
		h2 {
			font-weight: bold;
			padding-bottom: 10px;
			color: $blueDark1;
		}
	}
	.formFieldsBlock3 {
		.formField {
			float: left;
			width: 30%;
			margin: 0 2% 5px 0;
			input,
			select,
			textarea {
				max-width: 100%;
			}
		}
	}
	.formFieldsBlockAddresses {
		.nestedFormFields {
			> label {
				display: none;
			}
		}
		.nestedFormFields {
			padding: 0;
			margin: 0;
			border: 0;
		}
		.nestedFormFieldsObject {
			width: 29%;
			margin: 0 2% 10px 0;
			float: left;
			input,
			select,
			textarea {
				width: 100%;
			}
		}
		.nestedFormFieldsContent {
			padding-top: 15px;
		}
		.nestedFormFieldsNew {
			clear: both;
		}
	}
}

.adminTable {
	display: table;
	table-layout: fixed;
	width: 100%;
	box-sizing: border-box;
	border-collapse: collapse;
	.adminTableRow {
		display: table-row;
		&.adminTableRowHeader {
			.adminTableItem {
				font-weight: bold;
				text-align: center;
				background-color: $grayLight2;
			}
		}
		&:nth-child(2n+2) {
			.adminTableItem {
				background: $grayLight1;
			}	
		}
		&.adminTableRowTotal {
			.adminTableItem {
				background: lighten($blueDark1, 65%);
				color: $blueDark1;
				font-weight: bold;
			}
		}
	}
	.adminTableItem {
		display: table-cell;
		padding: 5px;
		border: 1px solid $grayLight3;
		box-sizing: border-box;
		background: $white;
		font-size: 0.8em;
		vertical-align: top;
		&.adminTableItem5 {
			width: 5%;
		}
		&.adminTableItem10 {
			width: 10%;
		}
		&.adminTableItem15 {
			width: 15%;
		}
		&.adminTableItem20 {
			width: 20%;
		}
		&.adminTableItem30 {
			width: 30%;
		}
		&.adminTableItem40 {
			width: 40%;
		}
		&.adminTableItem50 {
			width: 50%;
		}
		&.adminTableItemSingle {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		&.adminTableItemPrice {
			text-align: right;
			span {
				font-size: 0.8em;
			}
		}
		.adminTableItemActive {
			width: 10px;
			height: 10px;
			overflow: hidden;
			background: $grayLight3;
			text-indent: -5000px;
			display: block;
			margin: auto;
			&.adminTableItemActive1 {
				background: $green;
			}
		}
		a {
			color: $blueDark1;
			display: block;
			&:hover {
				color: $blueLight2;
			}
		}
	}
	.adminTableItemDelete,
	.adminTableItemModify {
		a {
			display: block;
			width: 16px;
			height: 16px;
			background-image: url(../../img/icons16.png);
			background-position: -96px 0px;
			cursor: pointer;
			text-indent: -5000px;
			overflow: hidden;
			margin: auto;
			&:hover {
				opacity: 0.5;
			}
		}
	}
	.adminTableItemModify {
		a {
			background-position: -32px 0px;
		}
	}
	.adminTableItemCenter {
		text-align: center;
	}
	.formField {
		input,
		textarea,
		select {
			max-width: 100%;
		}
	}
	// Sorter
	thead {
		.tablesorter-header {
			background-image: url(../../img/bg.gif);
			background-repeat: no-repeat;
			background-position: center right;
			background-color: $grayLight2 !important;
			padding: 10px 5px;
			cursor: pointer;
			&.sorter-false {
				background-image: none;
				cursor: default;
			}
			&.tablesorter-headerAsc {
				background-image: url(../../img/asc.gif);
				background-color: darken($grayLight2, 10%) !important;
			}
			&.tablesorter-headerDesc {
				background-image: url(../../img/desc.gif);
				background-color: darken($grayLight2, 10%) !important;
			}
		}
	}
}
#adminTableStock {
	.formField {
		label {
			display: none;
		}
	}
	.stockForm {
		.adminTableRowInfoEdit {
			display: none;
		}
		.stockFormEdit,
		.stockFormSave {
			text-align: center;
			display: inline-block;
			padding: 3px 10px;
			background: $grayDark3;
			color: $white;
			font-size: 0.9em;
			font-weight: bold;
			cursor: pointer;
			@include borderRadius(3px);
			&:hover {
				background: $blueDark1;
			}
		}
		.stockFormSave {
			background: $green;
		}
	}
	.stockFormEmpty {
		display: none;
	}
}
.adminTableStockOptions {
	padding-top: 20px;
	.adminTableStockAdd {
		display: inline-block;
		padding: 10px 20px;
		background: $green;
		font-weight: bold;
		color: $white;
		cursor: pointer;
		@include borderRadius(3px);
		&:hover {
			background: $grayDark3;
		}
	}
}
.nestedFormFields {
	.formLine {
		padding-right: 50px;
	}
}
.orderState {
	padding-left: 20px;
	position: relative;
	&:after {
		position: absolute;
		top: 5px;
		left: 0;
		display: block;
		width: 10px;
		height: 10px;
		background: $grayLight3;
		content: " ";
	}
	&.orderState1 {
		&:after {
			background: $red;
		}
	}
	&.orderState2 {
		&:after {
			background: $green;
		}
	}
	&.orderState3 {
		&:after {
			background: darken($red, 25%);
		}
	}
	&.orderState4 {
		&:after {
			background: $blueLight2;
		}
	}
}

.multipleBlocks {
	.multipleBlock {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid $grayLight3;
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
		.multipleBlockHeader {
			padding-bottom: 20px;
			h2 {
				width: 50%;
				float: left;
				font-weight: bold;
				font-size: 1.2em;
				padding-top: 10px;
			}
			a {
				display: block;
				width: 180px;
				padding: 10px 10px;
				float: right;
				background: $green;
				color: $white;
				font-weight: bold;
				text-align: center;
				@include borderRadius(3px);
				@include animate();
				&:hover {
					background: $blueDark1;
				}
			}
		}
	}
}

.orderOptions {
	margin: 10px;
	width: 440px;
	float: left;
	&:last-child {
		margin-bottom: 0;
	}
	.orderOption {
		background: $grayLight1;
		border: 1px solid darken($grayLight1, 5%);
		padding: 5px 10px;
		border-left: 3px solid $grayLight4;
		min-height: 125px;
		&.orderOptionShip {
			border-left: 3px solid $greenLight1;
			.orderOptionLeft .formSubmitWrapper input,
			.orderOptionLeft .formSubmitWrapper input:hover {
				background: $greenLight1;
			}
			.orderOptionRight h2 {
				color: $greenLight1;
			}
		}
		&.orderOptionCancel {
			border-left: 3px solid $red;
			.orderOptionLeft .formSubmitWrapper input,
			.orderOptionLeft .formSubmitWrapper input:hover {
				background: $red;
			}
			.orderOptionRight h2 {
				color: $red;
			}
		}
		&.orderOptionFinish {
			border-left: 3px solid $blueDark1;
			.orderOptionLeft .formSubmitWrapper input,
			.orderOptionLeft .formSubmitWrapper input:hover {
				background: $blueDark1;
			}
			.orderOptionRight h2 {
				color: $blueDark1;
			}
		}
		&.orderOptionSendMessage {
			border-left: 3px solid $blueLight2;
			.orderOptionLeft .formSubmitWrapper input,
			.orderOptionLeft .formSubmitWrapper input:hover {
				background: $blueLight2;
			}
			.orderOptionRight h2 {
				color: $blueLight2;
			}
		}
		.orderOptionLeft {
			width: 60%;
			float: right;
			label {
				font-weight: normal;
				font-size: 0.9em;
				padding: 0;
				padding-bottom: 3px;
			}
			.formField {
				input,
				textarea {
					width: 100%;
				}
			}
			.formSubmitWrapper {
				input {
					width: 100%;
					padding: 5px;
					text-align: center;
					display: block;
					cursor: pointer;
					background: $grayDark3;
					color: $white;
					font-weight: normal;
					text-transform: uppercase;
					font-size: 1em;
					border: 0;
					font-weight: bold;
					&:hover {
						background: darken($grayDark3, 10%);
					}
				}
			}
		}
		.orderOptionRight {
			width: 35%;
			float: left;
			color: $grayDark1;
			p {
				font-size: 0.9em;
			}
			h2 {
				font-weight: bold;
				padding-bottom: 10px;
				font-size: 1.2em;
				color: $grayDark1;
			}
		}
	}
}
.orderOptionsMessage {
	margin: 10px 0;
	padding: 10px;
	text-align: center;
	font-size: 0.9em;
	text-transform: uppercase;
	color: $white;
	background: $grayDark1;
	&.orderOptionsMessage2 {
		background: $greenLight1;
	}
	&.orderOptionsMessage3 {
		background: $red;
	}
	&.orderOptionsMessage4 {
		background: $blueDark1;
	}
	span {
		font-weight: bold;
		font-size: 1.2em;
		display: inline-block;
		padding: 0 0 0 20px;
	}
	em {
		font-style: normal;
		font-size: 0.9em;
		text-transform: none;
		opacity: 0.8;
	}
}

.orderModify {
	padding: 10px;
	background: $grayLight1;
	border: 1px solid darken($grayLight1, 5%);
	margin: 30px 0;
	form {
		padding: 0;
		margin: 0;
		border: 0;
	}
	.orderStockItem {
		padding-bottom: 20px;
		&:last-child {
			padding-bottom: 0;
		}
		h3 {
			font-weight: bold;
			font-size: 1em;
			padding-bottom: 5px;
			color: $blueDark1;
			span {
				color: $grayDark1;
				padding-right: 10px;
				display: inline-block;
			}
		}
	}
	.adminTable {
		font-size: 1.1em;
	}
}
.orderModifyOptions {
	margin: 30px 0;
}
.orderModifySimpleOptions {
	text-align: right;
	padding-top: 5px;
	&.orderModifySimpleOptionAll {
		text-align: left;
		padding-bottom: 20px;
		.orderModifySimpleOption {
			padding: 0 5px 0 0;
			a {
				background: $blueLight4;
				border: 1px solid darken($blueLight4, 5%);
				color: $white;
				&:hover {
					background: $blueLight1;
				}
			}
		}	
	}
	.orderModifySimpleOption {
		display: inline-block;
		padding: 0 0 0 5px;
		a {
			display: inline-block;
			padding: 5px 10px;
			background: lighten($grayDark2, 50%);
			border: 1px solid lighten($grayDark2, 45%);
			color: $grayDark2;
			font-size: 0.9em;
			font-weight: normal;
			strong {
				font-weight: bold;
			}
			&:hover {
				background: $grayDark1;
				color: $white;
			}
		}
		&.orderModifySimpleOptionImportant {
			a {
				background: lighten($grayDark2, 55%);
				&:hover {
					background: $grayDark1;
					color: $white;
				}
			}
		}
	}
}